<%- include('../layouts/header', {title: 'Phim' }); -%>
<%-include('../layouts/navbar/navbar') -%>

<div class="container">
  <ul class="tab_st02">
    <li>
      <a href="/" id="aNow" name="aNow">Phim Hot tại rap</a>
    </li>
    <li>
      <a href="/new" id="aSoon" name="aSoon" class="on"
        >Phim mới công chiếu</a>
    </li>
  </ul>

  <div class="item_list">
    <div class="blind">
      <h3>"Phim đang chiếu</h3>
    </div>
  </div>

    <% if (movies != undefined ) { %>
    <div class="movie-section">
      <div class="row">
        <% movies.forEach(function(item, index) { %>
        <div class="col-3 col-sm-12 col-md-6 col-lg-4">
          <div class="movie-item">
            <div class="movie-item__top">
              <div
                class="movie-item__img"
                style="background-image: url('<%- item.posterUrl %>')"
              ></div>
              <span class="movie-item__number"><%- index + 1%></span>
              <div class="movie-item__overlay">
                <button class="btn-movie__overlay">
                  <a href="/detail/<%- item.id %>">Chi tiết</a>
                </button>
              </div>
            </div>
            <div class="movie-item__middle">
              <a href="/">
                <p class="movie-item__name"><%- item.name %></p>
              </a>
            </div>
            <div class="movie-item__bottom">
              <span class="movie-item__description"
							><%= item.time + ' phút'%></span
						  >
              <span class="movie-item__description">
                <%= moment(item.openingDay).format('DD/MM/YY') %>
                <% if(moment(item.openingDay) >= Date.now()) { %>
                   Chưa mở
                <% } %>
              </span>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
    <div class="load-more__wrapper">
      <div class="row">
        <div class="col-12">
          <button class="btn__load-more">
            <p>Thêm</p>
          </button>
        </div>
      </div>
    </div>
    <% } %>
  </div>

  <div class="loading">
		<div class="loading-wrapper">
			<div class="loadingio-spinner-spinner-dtzaazu3jr6">
				<div class="ldio-7ufeuvxzq46">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
		</div>
		<div class="loading-modal"></div>
	</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="/js/home/newMovie.js"></script>
<%- include('../layouts/footer'); -%>
