<%- include('../layouts/header', {title: 'Phim' }); -%>
<%-include('../layouts/navbar/navbar') -%>
<div id="container" class="sub">
  <div id="content">
    <div class="screen_cwrap">
      <form action="" method="POST" enctype="application/x-www-form-urlencoded">
        <ul class="tab_st02">
          <li>
            <a href="/" id="aNow" name="aNow" class="on">Phim Hot tại rap</a>
          </li>
          <li>
            <a href="/home" id="aSoon" name="aSoon">Phim mới đang chiếu</a>
          </li>
        </ul>
      </form>

      <div class="item_list">
        <div class="blind">
          <h3>"Phim đang chiếu</h3>
        </div>
      </div>

      <% if (movies != undefined ) { %>

      <!-- tab content on -->
      <div class="tab_content on">
        <ul class="curr_list movie_clist" id="ulMovieList">
          <% movies.forEach(function(item, index) { %>
          <li>
            <div class="curr_box">
              <span class="num"><%= index += 1 %> </span>
              <span class="img">
                <a href="./" id="aFocusItem0">
                  <img
                    src="<%= item.images[0].publicUrl %>"
                    alt="<%= item.name%>"
                  />
                </a>
              </span>
            </div>

            <div class="layer_hover">
              <a href="./ticket/book" onclick="goToTiketing('10726');" class="btn_reserve1"
                >Đặt vé</a
              >
              <a
                href="./detail/<%= item.id %>"
                onclick="goToTiketing('10726');"
                class="btn_reserve2"
                >Chi tiet</a
              >
            </div>

            <dl class="list_text">
              <dt>
                <a href="./"> <span class="grade_13"></span><%= item.name %></a>
              </dt>
              <dd>
                <span class="rate"><%= item.time + 'phút'%></span>
                <span class="grade"
                  ><em
                    ><%= moment(item.openingDay).format( 'DD-MM-YYYY') %></em
                  ></span
                >
              </dd>
            </dl>
          </li>
          <% }) %>
        </ul>

        <% } %>

        <!-- button Them -->
        <a href="javascript:void(0);" class="btn_view">
          <span>Thêm</span>
        </a>
      </div>

      <!-- end tab content on -->
    </div>
  </div>
</div>

<%- include('../layouts/footer'); -%>


