<%- include('../layouts/header', {title: 'Mua vé' }); -%> <%-
include('../layouts/navbar/navbar') -%>
<div class="ticket d-flex justify-content-center align-items-center">
	<div class="ticket__navbar d-flex justify-content-center align-items-center">
		<div class="ticket__navbar--items ticket__active">
			<a href="">MUA VÉ XEM PHIM</a>
		</div>
		<div class="ticket__navbar--items">
			<a href="">LỊCH CHIẾU PHIM</a>
		</div>
	</div>
</div>
<div class="carousel__time" style="padding-top: 25px">
	<div class="container">
		<div
			class="calendar__MMYY d-flex align-items-center justify-content-center"
		>
			<div class="calendar__MM">
				<span class="month">Tháng <%- dateSlider.active?.month %> </span>
				<span class="year"><%- dateSlider.active?.year %> </span>
			</div>
		</div>
		<div class="row">
			<div class="col-1"></div>
			<div class="col-10">
				<div class="row">
					<div class="col-1 d-flex align-items-center justify-content-end">
						<div
							class="swiper-button-prev"
							style="position: inherit !important; color: #222"
						></div>
					</div>

					<!-- cho lịch trong carousel 20 ngày -->
					<div class="col-10">
						<div class="calendar__DD" style="height: 90px">
							<div class="swiper-container SwiperTime">
								<div class="swiper-wrapper">
									<% dateSlider?.dateArr.forEach(function(date) { %>
									<div class="swiper-slide">
										<a
											href="<%if(date.hasMovieShow) { %>
															/ticket/book?date=<%- date.value %>
														<% } else { %>
																javascript:void(0)
														<% } %>"
											class="
												time__box
												d-flex
												align-items-center
												<%-
												date.hasMovieShow
												?
												''
												:
												'no__showtime'%>
												<%-
												date.dof.value
												===
												6
												?
												'time__box--blue'
												:
												date.dof.value
												===
												0
												?
												'time__box--red'
												:
												''
												%>
											"
										>
											<div class="time__box--dayofweek">
												<%- date.dof.string()%>
											</div>
											<div
												class="
													time__box--date
													<%-
													dateSlider?.active?.value
													===
													date.value
													?
													'date--active'
													:
													''
													%>
												"
											>
												<%- date.day %>
											</div>
										</a>
									</div>
									<% }); %>
								</div>
							</div>
						</div>
					</div>
					<div class="col-1 d-flex align-items-center justify-content-start">
						<div
							class="swiper-button-next"
							style="position: inherit !important; color: #222"
						></div>
					</div>
				</div>
			</div>
			<div class="col-1"></div>
		</div>
	</div>
</div>
<div class="booking" style="padding: 50px 0 0; background: #f9f6ec">
	<div class="container-lg">
		<div class="row booking__inner">
			<div class="col-1 col-xl-0"></div>
			<div class="col-10 col-xl-12">
				<div class="row booking__step">
					<div class="col-8" style="border-right: 1px solid rgb(230, 230, 230)">
						<div class="booking__left">
							<div class="theater__header">Rạp</div>
							<div class="theater__body">
								<div class="theater__tab container">
									<div class="row">
										<!-- Cụm rạp -->
										<div class="col-4">
											<div class="theater__sidebar">
												<ul class="theater__list"></ul>
											</div>
										</div>

										<!--các Rạp  -->
										<div class="col-8">
											<div class="row cinema__inner">
												<!-- <div class="col-4" style="padding: 0 3px">
													<a href="javascript:void(0)">
														<div class="cinema__box cinema__box--disable">
															<div class="cinema__box--item">Tiền Giang</div>
														</div>
													</a>
												</div> -->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Danh sách Phim  -->
					<div class="col-4">
						<div class="booking__right">
							<div class="movie__header">Phim</div>
							<div class="movie__body">
								<ul>
									<li class="movie__item movie__item--active">
										<a
											href="javascript:void(0)"
											class="d-flex align-items-center"
										>
											<div class="movie__item-img"></div>
											<span>Bố Già</span>
										</a>
									</li>
									<li class="movie__item">
										<a
											href="javascript:void(0)"
											class="d-flex align-items-center"
										>
											<div class="movie__item-img"></div>
											<span>Lật Mặt</span>
										</a>
									</li>
									<li class="movie__item">
										<a
											href="javascript:void(0)"
											class="d-flex align-items-center"
										>
											<div class="movie__item-img"></div>
											<span>Thanh Gươm Diệt Quỷ</span>
										</a>
									</li>
									<li class="movie__item">
										<a
											href="javascript:void(0)"
											class="d-flex align-items-center"
										>
											<div class="movie__item-img"></div>
											<span>Bóng Đè</span>
										</a>
									</li>
									<li class="movie__item">
										<a
											href="javascript:void(0)"
											class="d-flex align-items-center"
										>
											<div class="movie__item-img"></div>
											<span>Nhà Có Khách</span>
										</a>
									</li>
									<li class="movie__item">
										<a
											href="javascript:void(0)"
											class="d-flex align-items-center"
										>
											<div class="movie__item-img"></div>
											<span>NHÂN ĐÔI TÌNH YÊU</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- dãn cách cho đẹp -->
			<div class="col-1 col-xl-0"></div>
		</div>
	</div>
</div>
<div class="booking--part2">
	<div class="container-lg">
		<!-- PHIM VÀ RẠP ĐÃ CHỌN -->
		<div class="row">
			<div class="col-1"></div>
			<div class="col-10">
				<div class="row cinMovie__selected">
					<div class="col-4">
						<div class="cinMovie__selected--items d-flex">
							<div class="cinMovie__selected--title">Ngày</div>
							<div class="cinMovie__selected--value">14/05/2021(Sáu)</div>
						</div>
					</div>
					<div class="col-4">
						<div class="cinMovie__selected--items d-flex">
							<div class="cinMovie__selected--title">Rạp</div>
							<!-- Khi chưa chọn rạp -->
							<!-- <div class="cinMovie__selected--value">Vui lòng chọn rạp</div> -->
							<div class="cinMovie__selected--value">Vinh</div>
						</div>
					</div>
					<div class="col-4">
						<div class="cinMovie__selected--items d-flex">
							<div class="cinMovie__selected--title">Phim</div>
							<!-- Khi chưa chọn phim -->
							<!-- <div class="cinMovie__selected--value">Vui lòng chọn phim</div> -->
							<div class="cinMovie__selected--value">49K NHÂN ĐÔI TÌNH YÊU</div>
						</div>
					</div>
				</div>

				<div class="showtime__inner">
					<div class="showtime__header d-flex align-items-center">
						<h5>Giờ chiếu</h5>
						<span
							>Thời gian chiếu phim có thể chênh lệch 15 phút do chiếu quảng
							cáo, giới thiệu phim ra rạp</span
						>
					</div>
					<div class="showtime__body">
						<!-- nếu không có suất chiếu dùng phần này -->
						<!-- <div class="showtime__noData d-flex align-items-center" style="flex-direction: column;">
                    <img src="/images/icons/empty.png" alt="">
                    <p>Kính mời quý khách chọn phim để xem lịch chiếu chi tiết tại rạp</p>
                </div> -->

						<!-- Nếu có suất chiếu thì dùng này  -->
						<div class="showtime__Data">
							<div class="showtime__movie--title d-flex align-items-center">
								<span>49K NHÂN ĐÔI TÌNH YÊU </span>
								<div class="showtime__render-movie">
									<a href="#">
										<img src="/images/icons/right.png" alt="" />
									</a>
								</div>
							</div>
							<div class="showtime__cinema">
								<div class="showtime__cinema--title">Vinh</div>

								<div class="showtime__list">
									<div class="row">
										<div class="col-2">
											<div class="showtime__theater--type">Loại ghế: 2D</div>
											<div class="showtime__box">
												<a href="">
													<div class="showtime__box--screen">Screen5</div>
													<!-- startShow: thời gian bắt đầu phim -->
													<div class="showtime__box--time startShow">15:00</div>
													<!-- startToendtime: cộng thêm thời lượng phim -->
													<div class="showtime__box--time startToendtime">
														15:00 ~ 17:07
													</div>
													<div class="showtime__box--seat">
														88 / 88 Ghế ngồi
													</div>
												</a>
											</div>
										</div>
										<div class="col-2">
											<div class="showtime__theater--type">Loại ghế: 2D</div>
											<div class="showtime__box">
												<a href="">
													<div class="showtime__box--screen">Screen5</div>
													<div class="showtime__box--time startShow">21:00</div>
													<!-- startToendtime: cộng thêm thời lượng phim -->
													<div class="showtime__box--time startToendtime">
														21:00 ~ 23:00
													</div>
													<div class="showtime__box--seat">
														88 / 99 Ghế ngồi
													</div>
												</a>
											</div>
										</div>
										<div class="col-2"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-1"></div>
		</div>
	</div>
</div>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
	var swiper = new Swiper('.SwiperTime', {
		slidesPerView: 7,
		spaceBetween: 30,
		slidesPerGroup: 7,
		loop: false,
		loopFillGroupWithBlank: true,
		pagination: {
			el: '.swiper-pagination',
			clickable: true,
		},
		navigation: {
			nextEl: '.swiper-button-next',
			prevEl: '.swiper-button-prev',
		},
	});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script type="module" src="/js/booking/index.js"></script>
<%- include('../layouts/footer'); -%>
