<%- include('../layouts/header', {title: 'Mua vé' }); -%> <%-
include('../layouts/navbar/navbar') -%>
<body onload="onLoaderFunc()">
<div class="bookseat__header" >
  <div class="container">
    <div class="row">
      <!-- <div class="col-1 col-lg-0"></div> -->
      <div class="col-12 col-lg-12">
        <div
          class="
            bookseat__seattop
            d-flex
            justify-content-between
            align-items-center">
          <div class="bookseat__seattop--title">
            <h2 style="margin: 0">Chọn ghế</h2>
          </div>
          <div class="bookseat__seattop--btn">
            <button class="btn__bookseat__reload" onclick="location.reload()">
              <img src="/images/icons/refresh.png" alt="" />
              <span>Đặt lại</span>
            </button>
          </div>
        </div>
        <div class="bookseat__box d-flex align-items-center">
          <div class="bookseat__box--lable">Người lớn</div>
          <div class="bookseat__box--select">
            <select id="Numseats">
              <option class="option" value="0">0</option>
              <option class="option" value="1">1</option>
              <option class="option" value="2">2</option>
              <option class="option" value="3">3</option>
              <option class="option" value="4">4</option>
              <option class="option" value="5">5</option>
              <option class="option" value="6">6</option>
              <option class="option" value="7">7</option>
              <option class="option" value="8">8</option>
            </select>
          </div>
          <button class="btn" onclick="takeData()"> Chọn ghế </button>

        </div>
      </div>
      <!-- <div class="col-1 col-lg-0"></div> -->
    </div>
  </div>
</div>

<div class="bookseat__body" >
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="seat__select">
          <div class="seat__info--lable" style="padding-bottom: 15px; color:rgb(247, 57, 57); font-size: 16px;" >
            * Vui lòng chọn số lượng ghế trước khi chọn ghế
          </div>
          <div class="seat__select-screen">
            <img src="/images/seat/screen.gif" alt="" width="100%" />
            <span>Screen</span>
          </div>
          <!-- Nếu chưa chọn số ghế -->
          <!-- thì thêm id="btn-seatmodal" vào li để hiện modal message -->
          <!-- <button class="btn-seatmodal" id-modal="#seat-modal" >tt</button> -->
        <div class="seatStructure" >
        <div class="seat__selectbox">

          <div class="seat__selectbox-row d-flex justify-content-center align-items-center">

            <table id="seatsBlock">
              <p id="notification"></p>
                  <tr>
                    <br/>
                  </tr>
                  <tr>
                    <td width="22px" height="22px"></td>
                    <% for(let i = 1; i <= cinema.length; i++) { %>
                      <td width="22px" height="22px"><%- i %></td>
                    <% } %>
                </tr>
                <% for(let j = 1; j <= cinema.width; j++) { %>
                  <tr>
                    <td><%- String.fromCharCode(j + 64) %></td>
                    <% for(let k = 1; k <= cinema.length; k++) { %>
                      <td>
                        <input type="checkbox" class="seats seat-checkbox" 
                        id-modal="#seat-modal" value="<%- String.fromCharCode(j + 64) %><%- k %>">
                      </td>
                    <% } %>
                  </tr>
                  <% } %>
            </table>
          </div>

              <!-- modal chọn ghế chưa chọn số lượng -->
              <div id="seat-modal" class="seat__modal">
              <div class="seat__modal--boby d-flex justify-content-center">
                <div class="seat__modal-content">
                  <div
                    class="seat__modal--header d-flex justify-content-between"
                  >
                    <p>Hướng dẫn</p>
                    <span class="seat__modal-close">&times;</span>
                  </div>
                  <div
                    class="seat__modal-content--body d-flex align-items-center"
                  >
                    <p>Vui lòng chọn số ghế cần mua</p>
                    <div class="seat__modal-close btn--seat-check">
                      Kiểm tra
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
      <div class="col-12">
        <div class="seat__info" >
          <div class="seat__info--lable">
            * Nhấp lại vào chỗ ngồi đã chọn để hủy.
          </div>
          <div class="seat__info-list d-flex justify-content-end" >
            <div class="seat__info-items d-flex align-items-center">
              <div class="smallBox redBox">Chỗ đã được đặt</div><br/>
            </div>
            <div class="seat__info-items d-flex align-items-center">
              <div class="smallBox greenBox">Chỗ ngồi đã chọn</div> <br/>
            </div>
            <div class="seat__info-items d-flex align-items-center">
              <div class="smallBox emptyBox">Ghế trống</div><br/>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12" style="text-align: right;margin-bottom: 20px;">
        <button class="btn__confirm" id="confirmChooseSeat" onclick="updateTextArea()">Xác nhận</button>
      </div>
  </div>


      </div>
    </div>
  </div>
</div>

<div class="bookseat__step">
  <div class="container">
    <div class="row">
      <div
        class="col-12 d-flex justify-content-between align-items-center"
        style="padding: 13px 0"
      >
        <div class="bookseat__step--pre">
          <a href="/ticket/book" class="d-flex align-items-center">
            <img
              class="imgpre"
              src="/images/icons/leftarrow.png"
              alt=""
              width="26px"
            />
            <span>Trở về</span>
          </a>
        </div>
        <button class="bookseat__step--next" style="border: none; background:none" id="nextPage" onclick="getData()">
          <a href="/ticket/order" class="d-flex align-items-center">
            <span>Bước tiếp theo </span>
            <img
              class="imgnext"
              src="/images/icons/rightarrow.png"
              alt=""
              width="26px"
            />
          </a>
        </button >
      </div>
    </div>
  </div>
</div>

<div class="bookseat__footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-4" style="padding: 0; border-left: 1px solid #cdc197">
            <div class="bookseat__footer--items">
              <div class="bookseat__footer-title">Phim chiếu rạp</div>
              <div class="bookseat__footer-moive d-flex">
                <img id="ticket-movie-poster" src="" alt="" width="80px" />
                <div id="ticket-movie-name" class="bookseat__footer-moive--name"></div>
              </div>
            </div>
          </div>
          <div class="col-4" style="padding: 0; border-left: 1px solid #cdc197">
            <div class="bookseat__footer--items">
              <div class="bookseat__footer-title">Thông tin vé đã đặt</div>
              <div class="bookseat__footer-info">
                <div class="d-flex">
                  <div class="bookseat__footer-info--lable">Ngày</div>
                  <div id="ticket-date" class="bookseat__footer-info--value">
                    15/05/2021 (Bảy)
                  </div>
                </div>
                <div class="d-flex">
                  <div class="bookseat__footer-info--lable">Giờ chiếu</div>
                  <div id="ticket-during-time" class="bookseat__footer-info--value"></div>
                </div>
                <div class="d-flex">
                  <div class="bookseat__footer-info--lable">Rạp chiếu</div>
                  <div id="ticket-cinema" class="bookseat__footer-info--value"></div>
                </div>
                <div class="d-flex">
                  <div class="bookseat__footer-info--lable">Ghế ngồi</div>
                  <div class="bookseat__footer-info--value" >
                    <textarea id="seatsDisplay" disabled="" style="color: #fff;"></textarea>
                  </div>
                </div>
              </div>
              <div
                class="
                  bookseat__price--big
                  d-flex
                  align-items-center
                  justify-content-end
                "
              >
                <p id="ticket-movie-money1"></p>
                <span style="text-decoration: underline; margin-left: 5px"
                  ></span
                >
              </div>
            </div>
          </div>

          <div
            class="col-4"
            style="
              padding: 0;
              border-left: 1px solid #cdc197;
              border-right: 1px solid #cdc197;
            "
          >
            <div class="bookseat__footer--items">
              <div class="bookseat__footer-title">Tông tiền đơn hàng</div>
              <div class="bookseat__footer-info">
                <div class="d-flex justify-content-between">
                  <div
                    class="bookseat__footer-info--lable"
                    style="width: 150px"
                  >
                    Đặt trước phim
                  </div>
                  <div id="ticket-movie-money2" class="bookseat__footer-info--value">0đ</div>
                </div>
              </div>
              <div
                class="
                  bookseat__price--big
                  d-flex
                  align-items-center
                  justify-content-end
                "
                style="margin-top: 70px">
                <p id="ticket-movie-money3">0đ</p>
                <span style="text-decoration: underline; margin-left: 5px"></span>
              </div>
              <table id='noChooseSeat' hidden>
                <tr>
                  <% result.forEach(function(item, index) { %>
                  <td><%= result[index]['seatId']%></td> 
                  <% }) %>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="loading">
    <div class="loading-wrapper">
      <div class="loadingio-spinner-spinner-dtzaazu3jr6">
        <div class="ldio-7ufeuvxzq46">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
    <div class="loading-modal"></div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script type="module" src="/js/booking/bookseat.js"></script>
<script src="/js/booking/modal.js"></script>
<script src="/js/booking/choose.js"></script>

</body>
<%- include('../layouts/footer'); -%>