<%- include('../layouts/header', {title: 'Phim' }); -%>
    <%- include('../layouts/navbar/navbar') -%>

        <!-- PROFILE USER -->
        <div class="profileinfo">
            <div class="container">
                <!-- <div class="profileinfo__title">
                    <h1>THÔNG TIN TÀI KHOẢN</h1>
                </div> -->
                <div class="row">
                    <div class="col-2 col-lg-0"></div>
                    <div class="col-8 col-lg-12">
                        <div class="profileinfo-box">

                            <div class="profileinfo-box__img d-flex justify-content-center">
                                <img src="/images/icons/user.png" alt="">
                                <div class="showmodal__updateprofile">
                                    <button data-modal="#modal2"
                                        class="btn btn--updateprofile d-flex align-items-center modal__trigger">
                                        <img src="/images/icons/edit.png" alt="" width="25px" style="padding: 2px;">
                                        <span>Sửa thông tin</span>
                                    </button>
                                </div>
                                <div id="modal2" class="modal modal--align-top modal__bg" role="dialog"
                                    aria-hidden="true">
                                    <div class="modal__dialog">
                                        <div class="modal__content">
                                            <div class="infouser__modal">
                                                <h1>Chỉnh sửa thông tin</h1>
                                                <form id="updateinfo-form" class="d-flex"
                                                    style="flex-direction: column;">
                                                    <div
                                                        class="infouser__item d-flex justify-content-between align-items-center">
                                                        <div class="infouser__item-title">Email: </div>
                                                        <input class="input--type" type="text" placeholder="Email"
                                                            value="<%- user.email %>" name="email" readonly>
                                                    </div>
                                                    <div
                                                        class="infouser__item d-flex justify-content-between align-items-center">
                                                        <div class="infouser__item-title">Họ tên: </div>
                                                        <input class="input--type" type="text" placeholder="Email"
                                                            value="<%- user.fullname %>" name="fullname">
                                                    </div>
                                                    <div
                                                        class="infouser__item d-flex justify-content-between align-items-center">
                                                        <div class="infouser__item-title">Số điện thoại: </div>
                                                        <input class="input--type" type="text" placeholder="Email"
                                                            value="<%- user.phoneNumber %>" name="phone">
                                                    </div>

                                                    <button type="submit" class="btn btn--updateprofile btn_updateinfo "
                                                        style="margin-top: 20px;">
                                                        Lưu thay đổi
                                                    </button>
                                                </form>
                                            </div>

                                            <a href="" class="modal__close demo-close">
                                                <svg class="" viewBox="0 0 24 24">
                                                    <path
                                                        d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z" />
                                                    <path d="M0 0h24v24h-24z" fill="none" />
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="profileinfo-box__username d-flex justify-content-center username--primary">
                                <%- user.fullname %>
                            </div>
                            <div class="profileinfo-box__info">
                                <div class="row">
                                    <div class="col">
                                        <div class="profileinfo-box__info--items d-flex align-items-center">
                                            <div class="boxinfo__items--icon">
                                                <img src="/images/icons/email.png" alt="">
                                            </div>
                                            <div class="boxinfo__items--content">
                                                <span>Email</span>
                                                <p class="">
                                                    <%- user.email %>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="profileinfo-box__info--items d-flex align-items-center">
                                            <div class="boxinfo__items--icon">
                                                <img src="/images/icons/call.png" alt="">
                                            </div>
                                            <div class="boxinfo__items--content">
                                                <span>Số điện thoại</span>
                                                <p class="userphone--primary">
                                                    <%- user.phoneNumber %>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="profileinfo-box__info--items d-flex align-items-center">
                                            <div class="boxinfo__items--icon">
                                                <img src="/images/icons/gender.png" alt="">
                                            </div>
                                            <div class="boxinfo__items--content">
                                                <span>Giới tính</span>
                                                <p>Không xác định</p>
                                            </div>
                                        </div>
                                        <div
                                            class="profileinfo-box__info--items d-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <div class="boxinfo__items--icon">
                                                    <img src="/images/icons/password.png" alt="">
                                                </div>
                                                <div class="boxinfo__items--content">
                                                    <span>Mật khẩu</span>
                                                    <p>***********</p>
                                                </div>
                                            </div>
                                            <div data-modal="#modal-password" class="modal__trigger"
                                                style="padding: 0; box-shadow: none;">
                                                <img src="/images/icons/edit.png" alt="" width="25px"
                                                    style="padding: 2px;">
                                            </div>
                                            <div id="modal-password" class="modal modal--align-top modal__bg"
                                                role="dialog" aria-hidden="true">
                                                <div class="modal__dialog">
                                                    <div class="modal__content">
                                                        <div class="infouser__modal">
                                                            <h1>Thay đổi mật khẩu</h1>
                                                        </div>
                                                        <form id="updateinfo-form--password" class="d-flex"
                                                            style="flex-direction: column;">
                                                            <div class="infouser__item d-flex" style="flex-direction: column; margin-bottom: 5px;">
                                                                <!-- <div class="infouser__item-title">Mật khẩu cũ: </div> -->
                                                                <!-- hiển thị lỗi: input--error -->
                                                                <input class="input--type" type="text"
                                                                    placeholder="Mật khẩu cũ" 
                                                                    name="old_password" id="old_password">
                                                                <span class="input__lable--error error__oldPass" style="color: red; "></span>
                                                            </div>
                                                            <div
                                                                class="infouser__item d-flex " style="flex-direction: column; margin-bottom: 5px;">
                                                                <!-- <div class="infouser__item-title">Mật khẩu mới: </div> -->
                                                                <input class="input--type" type="text"
                                                                    placeholder="Mật khẩu mới"
                                                                    name="new_password" id="new_password">
                                                                    <span class="input__lable--error error__oldPass" style="color: red; "></span>
                                                            </div>
                                                            <div
                                                                class="infouser__item d-flex " style="flex-direction: column; margin-bottom: 5px;">
                                                                <!-- <div class="infouser__item-title">Nhập lại mật khẩu mới: </div> -->
                                                                <input class="input--type" type="text"
                                                                    placeholder="Nhập lại mật khẩu mới" 
                                                                    name="confirm" id="confirm">
                                                                    <span class="input__lable--error error__oldPass" style="color: red; "></span>
                                                            </div>

                                                            <button type="submit"
                                                                class="btn btn--updateprofile btn_updatepassword"
                                                                style="margin-top: 20px;">
                                                                Lưu thay đổi
                                                            </button>
                                                        </form>
                                                        <a href="" class="modal__close demo-close">
                                                            <svg class="" viewBox="0 0 24 24">
                                                                <path
                                                                    d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z" />
                                                                <path d="M0 0h24v24h-24z" fill="none" />
                                                            </svg>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-2 col-lg-0"></div>

                </div>

            </div>
        </div>

        <!-- History -->
        <div class="histoty">
            <div class="container">
                <div class="histoty__title">
                    <h1>Lịch Sử Đặt Vé</h1>
                    <div class="history__table d-flex justify-content-center">
                        <table>
                            <tr>
                                <th>#</th>
                                <th>Phim</th>
                                <th>Rạp</th>
                                <th>Ghế </th>
                                <th>Ngày/giờ</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Lật mặt</td>
                                <td>HCM</td>
                                <td>C6</td>
                                <td>18 Nov 1962</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Bóng đè</td>
                                <td>HCM</td>
                                <td>R12</td>
                                <td>18 Dec 1962</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Conan: Viên Đạn Đỏ</td>
                                <td>HN</td>
                                <td>G45</td>
                                <td>18 Nov 1972</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Nadia</td>
                                <td>leBon</td>
                                <td>1368</td>
                                <td>18 Mar 1982</td>
                            </tr>


                        </table>
                    </div>

                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.28.2/sweetalert2.all.min.js"></script>

        <!-- <script>
            var Modal = (function () {

                var trigger = $qsa('.modal__trigger'); // what you click to activate the modal
                var modals = $qsa('.modal'); // the entire modal (takes up entire window)
                var modalsbg = $qsa('.modal__bg'); // the entire modal (takes up entire window)
                var content = $qsa('.modal__content'); // the inner content of the modal
                var closers = $qsa('.modal__close'); // an element used to close the modal
                // var closers = $qsa('.modal__close_submit'); // an element used to close the modal
                var w = window;
                var isOpen = false;
                var contentDelay = 400; // duration after you click the button and wait for the content to show
                var len = trigger.length;

                // make it easier for yourself by not having to type as much to select an element
                function $qsa(el) {
                    return document.querySelectorAll(el);
                }

                var getId = function (event) {

                    event.preventDefault();
                    var self = this;
                    // get the value of the data-modal attribute from the button
                    var modalId = self.dataset.modal;
                    var len = modalId.length;
                    // remove the '#' from the string
                    var modalIdTrimmed = modalId.substring(1, len);
                    // select the modal we want to activate
                    var modal = document.getElementById(modalIdTrimmed);
                    // execute function that creates the temporary expanding div
                    makeDiv(self, modal);
                };

                var makeDiv = function (self, modal) {

                    var fakediv = document.getElementById('modal__temp');

                    /**
                     * if there isn't a 'fakediv', create one and append it to the button that was
                     * clicked. after that execute the function 'moveTrig' which handles the animations.
                     */

                    if (fakediv === null) {
                        var div = document.createElement('div');
                        div.id = 'modal__temp';
                        self.appendChild(div);
                        moveTrig(self, modal, div);
                    }
                };

                var moveTrig = function (trig, modal, div) {
                    var trigProps = trig.getBoundingClientRect();
                    var m = modal;
                    var mProps = m.querySelector('.modal__content').getBoundingClientRect();
                    var transX, transY, scaleX, scaleY;
                    var xc = w.innerWidth / 2;
                    var yc = w.innerHeight / 2;

                    // this class increases z-index value so the button goes overtop the other buttons
                    trig.classList.add('modal__trigger--active');

                    // these values are used for scale the temporary div to the same size as the modal
                    scaleX = mProps.width / trigProps.width;
                    scaleY = mProps.height / trigProps.height;

                    scaleX = scaleX.toFixed(3); // round to 3 decimal places
                    scaleY = scaleY.toFixed(3);


                    // these values are used to move the button to the center of the window
                    transX = Math.round(xc - trigProps.left - trigProps.width / 2);
                    transY = Math.round(yc - trigProps.top - trigProps.height / 2);

                    // if the modal is aligned to the top then move the button to the center-y of the modal instead of the window
                    if (m.classList.contains('modal--align-top')) {
                        transY = Math.round(mProps.height / 2 + mProps.top - trigProps.top - trigProps.height / 2);
                    }


                    // translate button to center of screen
                    trig.style.transform = 'translate(' + transX + 'px, ' + transY + 'px)';
                    trig.style.webkitTransform = 'translate(' + transX + 'px, ' + transY + 'px)';
                    // expand temporary div to the same size as the modal
                    div.style.transform = 'scale(' + scaleX + ',' + scaleY + ')';
                    div.style.webkitTransform = 'scale(' + scaleX + ',' + scaleY + ')';


                    window.setTimeout(function () {
                        window.requestAnimationFrame(function () {
                            open(m, div);
                        });
                    }, contentDelay);

                };

                var open = function (m, div) {

                    if (!isOpen) {
                        // select the content inside the modal
                        var content = m.querySelector('.modal__content');
                        // reveal the modal
                        m.classList.add('modal--active');
                        // reveal the modal content
                        content.classList.add('modal__content--active');

                        /**
                         * when the modal content is finished transitioning, fadeout the temporary
                         * expanding div so when the window resizes it isn't visible ( it doesn't
                         * move with the window).
                         */

                        content.addEventListener('transitionend', hideDiv, false);

                        isOpen = true;
                    }

                    function hideDiv() {
                        // fadeout div so that it can't be seen when the window is resized
                        div.style.opacity = '0';
                        content.removeEventListener('transitionend', hideDiv, false);
                    }
                };

                var close = function (event) {

                    event.preventDefault();
                    event.stopImmediatePropagation();

                    var target = event.target;
                    var div = document.getElementById('modal__temp');

                    /**
                     * make sure the modal__bg or modal__close was clicked, we don't want to be able to click
                     * inside the modal and have it close.
                     */

                    if (isOpen && target.classList.contains('modal__bg') || target.classList.contains('modal__close')) {

                        // make the hidden div visible again and remove the transforms so it scales back to its original size
                        div.style.opacity = '1';
                        div.removeAttribute('style');

                        /**
                        * iterate through the modals and modal contents and triggers to remove their active classes.
                  * remove the inline css from the trigger to move it back into its original position.
                        */

                        for (var i = 0; i < len; i++) {
                            modals[i].classList.remove('modal--active');
                            content[i].classList.remove('modal__content--active');
                            trigger[i].style.transform = 'none';
                            trigger[i].style.webkitTransform = 'none';
                            trigger[i].classList.remove('modal__trigger--active');
                        }

                        // when the temporary div is opacity:1 again, we want to remove it from the dom
                        div.addEventListener('transitionend', removeDiv, false);

                        isOpen = false;

                    }

                    function removeDiv() {
                        setTimeout(function () {
                            window.requestAnimationFrame(function () {
                                // remove the temp div from the dom with a slight delay so the animation looks good
                                div.remove();
                            });
                        }, contentDelay - 50);
                    }

                };

                var bindActions = function () {
                    for (var i = 0; i < len; i++) {
                        trigger[i].addEventListener('click', getId, false);
                        closers[i].addEventListener('click', close, false);
                        modalsbg[i].addEventListener('click', close, false);
                    }
                };
                var AfterSubmit = function () {
                    for (var i = 0; i < len; i++) {
                        closers[i].addEventListener('click', close, false);
                    }
                };
                var bindActions = function () {
                    for (var i = 0; i < len; i++) {
                        trigger[i].addEventListener('click', getId, false);
                        closers[i].addEventListener('click', close, false);
                        modalsbg[i].addEventListener('click', close, false);
                    }
                };

                var init = function () {
                    bindActions();
                };
                var closeAfterSubmit = function () {
                    bindActions();
                };

                return {
                    init: init,
                    closeAfterSubmit: closeAfterSubmit
                };

            }());

            Modal.init();


        </script> -->
        <%- include('../layouts/footer'); -%>